@media screen and (max-width:576px) {

.header-container{
 display: grid;
 grid-template-columns: repeat(1,1fr);

}

.flex{
 display: grid;
 grid-template-columns: repeat(1,1fr);
}
.nav-header ul{
 display: grid;
 grid-template-columns: repeat(1,1fr);
 padding-top: 20px;

}

.banner1 img{
 left:5%;
}
.banner1-text{
 left:35%;
 
}
.btn-special{
 margin-top: 10px;
}

}